@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en" class="crt crt-side-box-on crt-nav-on crt-nav-type2 crt-main-nav-on crt-sidebar-on crt-layers-1">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Certy</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Icon Fonts -->
    <link href="assets/fonts/icomoon/style.css" rel="stylesheet">

    <!-- Styles -->
    <link href="~/Cv3/css/plugins.min.css" rel="stylesheet">
    <link href="~/Cv3/css/style.min.css" rel="stylesheet">

    <!-- Modernizer -->
    <script type="text/javascript" src="~/Cv3/js/vendor/modernizr-3.3.1.min.js"></script>

    <!-- Google Analytics -->
    </script>
</head>

<body class="">
    <div class="crt-wrapper">


        <div id="crt-container" class="crt-container">
            <div id="crt-side-box-wrap" class="crt-sticky">
                <div id="crt-side-box">

                    <div class="crt-side-box-item">

                        <div class="crt-card bg-primary text-center">
                            <div class="crt-card-avatar">
                                <img class="avatar avatar-195" src="~/Cv3/images/beydapp.jpeg" srcset="assets/images/uploads/avatar/avatar-390x390-2x.png 2x" width="195" height="195" alt="">
                            </div>
                            <div class="crt-card-info">
                                <div class="line">

                                    <div class="value placeholder" contenteditable="true">Beyda DÜRMÜŞ</div>
                                </div>

                                <ul class="crt-social clear-list">
                                    <li><a><span class="crt-icon crt-icon-facebook"></span></a></li>
                                    <li><a><span class="crt-icon crt-icon-twitter"></span></a></li>
                                    <li><a><span class="crt-icon crt-icon-google-plus"></span></a></li>
                                    <li><a><span class="crt-icon crt-icon-instagram"></span></a></li>
                                    <li><a><span class="crt-icon crt-icon-pinterest"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- .crt-side-box-item -->

                </div>
                <!-- #crt-side-box -->
            </div>
            <!-- #crt-side-box-wrap -->
            <div id="crt-nav-wrap" class="hidden-sm hidden-xs">
                <div id="crt-nav-inner">
                    <div class="crt-nav-cont">


                        <div id="crt-nav-tools" class="hidden">
                            <span class="crt-icon crt-icon-dots-three-horizontal"></span>

                            <button id="crt-nav-arrow" class="clear-btn">
                                <span class="crt-icon crt-icon-chevron-thin-down"></span>
                            </button>
                        </div>
                    </div>
                    <div class="crt-nav-btm"></div>
                </div>
            </div>
            <!-- .crt-nav-wrap -->

            <div class="crt-container-sm">
                <div id="about" class="crt-paper-layers crt-animate">
                    <div class="crt-paper clearfix">
                        <div class="crt-paper-cont paper-padd clear-mrg">

                            <section class="section brd-btm padd-box">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h2 class="title-lg text-upper">Projeler</h2>
                                        <div class="line">
                                            <div class="value placeholder" contenteditable="true">Proje1</div>
                                            <div class="value placeholder" contenteditable="true">Proje1</div>
                                            <div class="value placeholder" contenteditable="true">Proje1</div>
                                        </div>

                                    </div>
                                </div>
                                <!-- .row -->

                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="crt-share-box clearfix">

                                            <script type="text/javascript" src="../../../s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5821a6c28931dc81"></script>
                                            <div class="addthis_inline_share_toolbox"></div>
                                        </div>
                                        <!-- .crt-share -->
                                    </div>

                                </div>
                                <!-- .row -->
                            </section>
                            <!-- .section -->

                            <section class="section padd-box">
                                <div class="row">
                                    <div class="col-sm-6 clear-mrg">
                                        <h2 class="title-thin text-muted">İletişim</h2>

                                        <dl class="dl-horizontal clear-mrg">

                                            <div class="text-upper">Mail</div>
                                            <div class="value placeholder" contenteditable="true">beydadurmus@gmail.com</div>

                                            <div class="text-upper">PHONE</div>
                                            <div class="value placeholder" contenteditable="true">15544614</div>
                                        </dl>
                                        <h2 class="title-thin text-muted">Lokasyon</h2>

                                        <dl class="dl-horizontal clear-mrg">
                                            <div class="value placeholder" contenteditable="true">Bursa</div>
                                        </dl>
                                        <h2 class="title-thin text-muted">Hobby</h2>

                                        <dl class="dl-horizontal clear-mrg">

                                            <div class="value placeholder" contenteditable="true">Şarkı Söylemek</div>
                                            <dl class="dl-horizontal clear-mrg">
                                                <div class="value placeholder" contenteditable="true">Saz Çalmak</div>
                                            </dl>
                                        </dl>
                                        <h2 class="title-thin text-muted">Belgeler</h2>

                                        <dl class="dl-horizontal clear-mrg">

                                            <div class="value placeholder" contenteditable="true">PHP Belgesi</div>
                                            <dl class="dl-horizontal clear-mrg">
                                                <div class="value placeholder" contenteditable="true">O SES TÜRKİYE</div>
                                            </dl>
                                        </dl>
                                    </div>
                                    <!-- .col-sm-6 -->

                                    <div class="col-sm-6 clear-mrg">
                                        <h2 class="title-thin text-muted">Yabancı Dil</h2>

                                        <div class="value placeholder" contenteditable="true"><strong class="progress-title">İngilizce</strong></div>
                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">native</span></div>
                                        <div class="value placeholder" contenteditable="true"><strong class="progress-title">Almanca</strong></div>
                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">native</span></div>

                                        <h2 class="title-thin text-muted">Yetenekler</h2>
                                        <div class="value placeholder" contenteditable="true"><strong class="progress-title">.netcore</strong></div>
                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">native</span></div>
                                        <div class="value placeholder" contenteditable="true"><strong class="progress-title">java</strong></div>
                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">native</span></div>
                                        <div class="value placeholder" contenteditable="true"><strong class="progress-title">node js.</strong></div>
                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">native</span></div>



                                    </div>
                                    <!-- .col-sm-6 -->
                                </div>
                                <!-- .row -->
                            </section>
                            <!-- .section -->

                        </div>
                        <!-- .crt-paper-cont -->
                    </div>
                    <!-- .crt-paper -->
                </div>
                <!-- .crt-paper-layers -->

                <div id="experience" class="crt-paper-layers crt-animate">
                    <div class="crt-paper clearfix">
                        <div class="crt-paper-cont paper-padd clear-mrg">

                            <section class="section padd-box">
                                <h2 class="title-lg text-upper">İş Deneyimleri</h2>
                                <div class="education">

                                    <div class="education-box">
                                        <time class="education-date" datetime="2014-01T2016-03">
                                            <div class="value placeholder" contenteditable="true"> <span>Jan <strong class="text-upper">2014</strong> - Mar <strong>2016</strong></span></div>

                                        </time>
                                        <div class="value placeholder" contenteditable="true"><h3 class="progress-title">Full Stack Dev.</h3></div>

                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">AMAZON</span></div>

                                    </div>
                                    <!-- .education-box -->
                                    <div class="education-box">
                                        <time class="education-date" datetime="2014-01T2016-03">
                                            <div class="value placeholder" contenteditable="true"> <span>Jan <strong class="text-upper">2014</strong> - Mar <strong>2016</strong></span></div>

                                        </time>
                                        <div class="value placeholder" contenteditable="true"><h3 class="progress-title">Full Stack Dev.</h3></div>

                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">AMAZON</span></div>

                                    </div>
                                    <!-- .education-box -->

                                    <div class="education-box">
                                        <time class="education-date" datetime="2014-01T2016-03">
                                            <div class="value placeholder" contenteditable="true"> <span>Jan <strong class="text-upper">2014</strong> - Mar <strong>2016</strong></span></div>

                                        </time>
                                        <div class="value placeholder" contenteditable="true"><h3 class="progress-title">Full Stack Dev.</h3></div>

                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">AMAZON</span></div>

                                    </div>
                                    <!-- .education-box -->

                                </div>
                                <!-- .education -->
                            </section>
                            <!-- .section -->

                        </div>
                        <!-- .crt-paper-cont -->
                    </div>
                    <!-- .crt-paper -->
                </div>
                <!-- .crt-paper-layers -->

                <div id="experience" class="crt-paper-layers crt-animate">
                    <div class="crt-paper clearfix">
                        <div class="crt-paper-cont paper-padd clear-mrg">

                            <section class="section padd-box">
                                <h2 class="title-lg text-upper">Eğitim</h2>
                                <div class="education">

                                    <div class="education-box">
                                        <time class="education-date" datetime="2014-01T2016-03">
                                            <div class="value placeholder" contenteditable="true"> <span>Jan <strong class="text-upper">2014</strong> - Mar <strong>2016</strong></span></div>

                                        </time>
                                        <div class="value placeholder" contenteditable="true"><h3 class="progress-title">Bursa Erkek Lisesi</h3></div>
                                    </div>
                                    <!-- .education-box -->

                                    <div class="education-box">
                                        <time class="education-date" datetime="2014-01T2016-03">
                                            <div class="value placeholder" contenteditable="true"> <span>Jan <strong class="text-upper">2014</strong> - Mar <strong>2016</strong></span></div>

                                        </time>
                                        <div class="value placeholder" contenteditable="true"><h3 class="progress-title">Celal Bayar Üniversitesi</h3></div>
                                        <div class="value placeholder" contenteditable="true"><span class="progress-text text-muted">Yazılım Müh.</span></div>
                                    </div>



                                </div>
                                <!-- .education -->
                            </section>
                            <!-- .section -->

                        </div>
                        <!-- .crt-paper-cont -->
                    </div>
                    <!-- .crt-paper -->
                </div>
                <!-- .crt-paper-layers -->

                <div id="references" class="crt-paper-layers crt-animate">
                    <div class="crt-paper clearfix">
                        <div class="crt-paper-cont paper-padd clear-mrg">

                            <section class="section padd-box">
                                <h2 class="title-lg text-upper">Referans</h2>

                                <div class="padd-box-sm clear-mrg">
                                    <div class="ref-box brd-btm hreview">
                                        <div class="ref-info">
                                            <div class="ref-author">
                                                <div class="value placeholder" contenteditable="true"><strong class="progress-title">Deniz KILINÇ</strong></div>
                                                <div class="value placeholder" contenteditable="true"> <p>05335566644646  deniz@gmail.com</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .ref-box -->

                                    <div class="ref-box brd-btm hreview">
                                        <div class="ref-info">
                                            <div class="ref-author">
                                                <div class="value placeholder" contenteditable="true"><strong class="progress-title">Deniz KILINÇ</strong></div>
                                                <div class="value placeholder" contenteditable="true"> <p>05335566644646  deniz@gmail.com</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .ref-box -->

                                    <div class="ref-box brd-btm hreview">
                                        <div class="ref-info">
                                            <div class="ref-author">
                                                <div class="value placeholder" contenteditable="true"><strong class="progress-title">Deniz KILINÇ</strong></div>
                                                <div class="value placeholder" contenteditable="true"> <p>05335566644646  deniz@gmail.com</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .ref-box -->

                                </div>
                                <!-- .padd-box-sm -->
                            </section>
                            <!-- .section -->
                            <!-- .section -->

                        </div>
                        <!-- .crt-paper-cont -->
                    </div>
                    <!-- .crt-paper -->
                </div>

            </div>
            <!-- .crt-container-sm -->
        </div>
        <!-- .crt-container -->
        <!-- #crt-sidebar -->
        <!-- #crt-footer -->

        <svg id="crt-bg-shape-1" class="hidden-sm hidden-xs" height="519" width="758">
            <polygon class="pol" points="0,455,693,352,173,0,92,0,0,71" />
        </svg>

        <svg id="crt-bg-shape-2" class="hidden-sm hidden-xs" height="536" width="633">
            <polygon points="0,0,633,0,633,536" />
        </svg>
    </div>
    <!-- .crt-wrapper -->
    <!-- Scripts -->
    <script type="text/javascript" src="../../../ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.12.4.min.js"><\/script>')
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiwY_5J2Bkv2UgSeJa4NOKl6WUezSS9XA"></script>

    <script type="text/javascript" src="assets/js/plugins.min.js"></script>
    <script type="text/javascript" src="assets/js/theme.min.js"></script>
</body>
<!-- Mirrored from certy.px-lab.com/html/demo3/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 18 Mar 2019 19:19:56 GMT -->

</html>