@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model FindWorkerWeb.WebUI.Models.CvModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resumex - Professional HTML CSS Resume Website Template</title>

    <link href="favicon.png" rel=icon>

    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">

    <link href="/UserProfile/css/font-awesome.min.css" rel="stylesheet">

    <link href="/UserProfile/css/bootstrap.min.css" rel="stylesheet">

    <link href="/UserProfile/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar">
    <form asp-controller="User" asp-action="CVData" method="post">
        <div id="main-wrapper">


            <div class="columns-block container">
                <div class="left-col-block blocks">
                    <header class="header theiaStickySidebar">
                        <div class="profile-img">
                            <img src="~/UserProfile/img/img-profile.jpg" class="img-responsive" alt="" />
                            <div class="popup photo-upload">
                                <div class="popup-title"></div>
                                <div class="popup-content">
                                    <div class="photo-action">
                                        <div class="photo-upload-btn">
                                            <input name="file" id="photo-upload-submit" type="file" class="cloudinary-fileupload photo hidden-file" data-form-data='{"upload_preset": "userphoto"}' accept="image/jpeg, image/png" data-cloudinary-field="image_id">
                                        </div>
                                        <div class="photo-delete-block">
                                            <span class="or">ya da</span>
                                            <span class="remove-photo">Fotoğrafı sil</span>
                                        </div>

                                    </div>

                                </div>
                                <div class="popup-action">
                                    <button type="button" id="user-photo-accept" class="popup-accept">Uygula</button>
                                    <button type="button" id="user-photo-cancel" class="popup-cancel">İptal</button>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="line">

                                <div class="field placeholder" contenteditable="true">Ad Soyad</div>
                                <div class="value placeholder" contenteditable="true" id="ad">Beyda</div>
                            </div>
                            <div class="line">

                                <div class="field placeholder" contenteditable="true">Meslek</div>
                            </div>
                            <div class="line">

                                <div class="field placeholder" contenteditable="true">Özet Bilgi</div>

                            </div>

                            <ul class="social-icon">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </header>

                </div>

                <div class="right-col-block blocks">
                    <div class="theiaStickySidebar">
                        <section class="expertise-wrapper section-wrapper gray-bg">
                            <div class="container-fluid" name="Project">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="line">

                                            <div class="field placeholder" contenteditable="true">PROJELER</div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <textarea style="margin: 0px; width: 674px; height: 111px;"></textarea>
                                </div>

                            </div>
                        </section>

                        <section class="section-wrapper skills-wrapper">
                            <div class="container-fluid" name="Skill">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <div class="line">

                                                <div class="field placeholder" contenteditable="true">Yetenekler</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress-wrapper">

                                            <textarea style="margin: 0px; width: 674px; height: 111px;"></textarea>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </section>

                        <section class="section-wrapper skills-wrapper">
                            <div class="container-fluid" name="Language">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>Yabancı Diller</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="progress-wrapper">

                                            <textarea style="margin: 0px; width: 674px; height: 111px;"></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="section-wrapper section-experience gray-bg">
                            <div class="container-fluid" name="WorkExperience">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="section-title"><h2>İş Deneyimleri</h2></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-item">

                                            <div class="line">

                                                <div class="value placeholder" contenteditable="true">2019-2020</div>
                                                <div class="field placeholder" contenteditable="true"><h3>Amazon</h3></div>
                                                <div class="value placeholder" contenteditable="true">Developer</div>


                                            </div>
                                        </div>

                                        <div class="content-item">
                                            <div class="line">
                                                <div class="value placeholder" contenteditable="true">2012-2016</div>
                                                <div class="field placeholder" contenteditable="true"><h3>Facebook</h3></div>
                                                <div class="value placeholder" contenteditable="true">Developer</div>

                                            </div>
                                        </div>

                                        <div class="content-item">
                                            <div class="line">
                                                <div class="value placeholder" contenteditable="true">2010-2012</div>
                                                <div class="field placeholder" contenteditable="true"><h3>Google</h3></div>
                                                <div class="value placeholder" contenteditable="true">Developer</div>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </section>

                        <section class="section-wrapper section-education">
                            <div class="container-fluid" name="Education">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title"><h2>Eğitim</h2></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content-item">
                                            <div class="line">

                                                <div class="field placeholder" contenteditable="true"><h3>CBÜ</h3></div>
                                                <div class="value placeholder" contenteditable="true">Yazılım</div>
                                                <div class="value placeholder" contenteditable="true">Turgutlu</div>

                                            </div>
                                        </div>

                                        <div class="content-item">
                                            <div class="line">

                                                <div class="field placeholder" contenteditable="true"><h3>ŞOHYAL</h3></div>
                                                <div class="value placeholder" contenteditable="true">Anadolu Lisesi</div>
                                                <div class="value placeholder" contenteditable="true">Bursa</div>

                                            </div>
                                        </div>

                                        <div class="content-item">

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </section>
                        <section class="section-wrapper section-interest gray-bg">
                            <div class="container-fluid" name="Document">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>Sertifikalar</h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea style="margin: 0px; width: 674px; height: 111px;"></textarea>
                                    </div>
                                </div>

                            </div>
                        </section>

                        <section class="section-wrapper section-interest gray-bg">
                            <div class="container-fluid" name="Hobby">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>Hobiler</h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea style="margin: 0px; width: 674px; height: 111px;"></textarea>
                                    </div>
                                </div>

                            </div>
                        </section>

                        <section class="section-contact section-wrapper gray-bg">
                            <div class="container-fluid" name="Contact">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title">
                                            <h2>İletişim</h2>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <address>
                                            <div class="line">
                                                <div class="field placeholder" contenteditable="true"><strong>Adres</strong></div>
                                                <div class="value placeholder" contenteditable="true">Beyda</div>
                                                <div class="value placeholder" contenteditable="true">Beyda</div>

                                            </div>
                                        </address>
                                        <address>
                                            <div class="line">

                                                <div class="field placeholder" contenteditable="true"><strong>Adres</strong></div>
                                                <div class="value placeholder" contenteditable="true">Beyda</div>


                                            </div>
                                        </address>
                                        <address>
                                            <div class="line">

                                                <div class="field placeholder" contenteditable="true"><strong>Telefon</strong></div>
                                                <div class="value placeholder" contenteditable="true">Beyda</div>

                                            </div>
                                        </address>
                                        <address>
                                            <div class="line">

                                                <div class="field placeholder" contenteditable="true"><strong>Email</strong></div>
                                                <div class="value placeholder" contenteditable="true">Beyda</div>


                                            </div>
                                            <a href="https://uicookies.com/cdn-cgi/l/email-protection#efcc"><span class="__cf_email__" data-cfemail="1b78747d7d7e7e5b7a767e77727e35767e">[email&#160;protected]</span></a>
                                        </address>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="section-wrapper section-experience gray-bg">
                            <div class="container-fluid" name="Reference">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-title"><h2>Referanslar</h2></div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">

                                        <button type="button" id="newLine">New Line</button>
                                        <div class="referanslar"></div>

                                    </div>
                                </div>

                            </div>


                        </section>

                        <div class="document-actions">

                            <div class="form-group"><label asp-for="CvName" class=" form-control-label"> Name</label><input asp-for="CvName" type="text" id="CvName" name="CvName" placeholder="Name" class="form-control"></div>
                            <input asp-controller="User" asp-action="CvData" class="btn btn-success" type="submit" value="Submit" id="save">



                        </div>


                        <div id="cookie-banner" class="cookie-banner">
                            <div class="document-actions">
                                <div class="wrapper">
                                    <button type="button" id="update" class="pda-button">
                                        <i class="save-icon sprite">

                                        </i> Güncelle
                                    </button>
                                </div>


                            </div>
                        </div>

                        <div class="selection" style="top: 343px; left: 563.5px; width: 392px; height: 173px; display: block;">
                            <div id="tour4" class="selection-right">
                                <ul>
                                    <li class="active" data-event="delete" data-type="paragraph" data-col="0" data-pageindex="0"><i class="delete-icon sprite"></i><span>Paragrafı Sil</span></li>
                                    <li class="active" data-event="add" data-type="paragraph" data-col="0" data-pageindex="0"><i class="add-icon sprite"></i><span>Paragraf Ekle</span></li>
                                    <li class="active" data-event="edit" data-type="paragraph" data-col="0" data-pageindex="0"><i class="edit-icon sprite"></i><span>Türünü Değiştir</span></li>
                                </ul>
                                <div id="tour5" class="selection-left">
                                    <ul>
                                        <li class="passive" data-event="up" data-type="paragraph" data-col="0" data-pageindex="0"><i class="up"></i></li>
                                        <li class="active" data-event="down" data-type="paragraph" data-col="0" data-pageindex="0"><i class="down"></i></li>
                                        <li class="seperator passive" data-event="left" data-type="paragraph" data-col="0" data-pageindex="0"><i class="left"></i></li>
                                        <li class="active" data-event="right" data-type="paragraph" data-col="0" data-pageindex="0"><i class="right"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
    </form>
    <script>
        $("#newLine").click(function () {

             $(".referanslar").append("<input type='text' name='Reference' />");
            
        });
    </script>
   

    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/UserProfile/js/jquery-2.1.4.min.js" type="e757cce0a3cddc60662fb534-text/javascript"></script>

    <script src="/UserProfile/js/bootstrap.min.js" type="e757cce0a3cddc60662fb534-text/javascript"></script>
    <script src="/UserProfile/js/theia-sticky-sidebar.js" type="e757cce0a3cddc60662fb534-text/javascript"></script>
    <script src="/UserProfile/js/scripts.js" type="e757cce0a3cddc60662fb534-text/javascript"></script>
    <script src="../../../../ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="e757cce0a3cddc60662fb534-|49" defer=""></script>

    <script>
        var trans = {
            cv_index_saveErrorMessage: "Kayıt esnasında bir hata oluştu. Lütfen tekrar deneyiniz.",
            cv_index_or: "ya da",
            cv_document_addPageNumber: "Sayfa numarası ekle",
            cv_document_removePageNumber: "Sayfa numarasını kaldır",
            cv_document_addPhoto: "Fotoğraf ekle",
            cv_document_removePhoto: "Fotoğrafı kaldır",
            cv_document_deletePhoto: "Fotoğrafı sil",
            cv_document_uploadPhoto: "Fotoğraf yükle",
            cv_document_changePhoto: "Fotoğrafı değiştir",
            cv_document_cropPhoto: "Fotoğrafı Kırp",
            cv_document_page: "Sayfa",
            cv_document_deleteParagraph: "Paragrafı Sil",
            cv_document_addParagraph: "Paragraf Ekle",
            cv_document_addLine: "Satır ekle",
            cv_document_deleteLine: "Satır sil",
            cv_document_changeType: "Türünü Değiştir",
            cv_document_missingParagraphType: "Paragraf türünü seçiniz",
            cv_document_relationshipMarried: "Evli",
            cv_document_relationshipSingle: "Bekar",
            cv_settingsView_loading: "Yükleniyor...",
            cv_settingsView_zipcarErrorMessage: "Kod alınırken bir hata oluştu. Lütfen tekrar deneyiniz",
            cv_settingsView_validCardNumber: "Geçersiz kart numarası",
            cv_settingsView_validCardMonth: "Geçersiz son kullanma tarihi",
            cv_settingsView_validCardCvc: "Geçersiz güvenlik kodu",
            cv_settingsView_valid_sales_agreement: "cv_settingsView_valid_sales_agreement",
            cv_settingsView_processing: "İşlem yapılıyor",
        };
        var routes = {
            homepage: "/tr/",
            app_cv_new: "/cv-new",
            app_cv_save: "/cv/save",
            app_cv_save_pdf: "/cv/save-pdf",
            app_cv_save_from_session: "/my/cv/save-from-session"
        };

        var configurations = {
            fb_connect_scope: "public_profile,user_birthday,user_hometown,user_location,email,user_friends,user_likes",
            fb_connect_fields: "id,name,first_name,last_name,picture,gender,age_range,birthday,relationship_status,about,email,website,location,hometown,education,languages,favorite_teams,work"
        };
    </script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="~/Cv1/js/compiled/min-912f9bb.js"></script>
</body>

<!-- Mirrored from uicookies.com/demo/theme/resumex/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Dec 2019 13:41:16 GMT -->
</html>

