
@{
    ViewData["Title"] = "CompanyPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE HTML>
<html>
<head>
    <title>Iridium by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css' />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/UserPanel/js/skel.min.js"></script>
    <script src="/UserPanel/js/skel-panels.min.js"></script>
    <script src="/UserPanel/js/init.js"></script>
    <script src="~/UserPanel/css/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/UserPanel/css/skel-noscript.css" />
    <link rel="stylesheet" href="/UserPanel/css/style.css" />
    <link rel="stylesheet" href="/UserPanel/css/style-desktop.css" />
    <link href="~/UserPanel/css/style-1000px.css" rel="stylesheet" />
</head>
<body class="homepage">



    <!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row">

                <!-- Content -->
                <div id="content" class="8u skel-cell-important">
                    <section>
                        <header>
                            <h2>Nasıl Cv incelenir?</h2>
                        </header>
                        <a href="#" class="image full" ><img src="~/UserPanel/images/company.jpg" alt="" /></a>
                        <p>İK uzmanları CV’de düzene ve içeriğe mutlaka dikkat ediyor. Ayrıca tek yabancı dil ile hazırlanmış CV’nın yanında Türkçe hazırlanmış özgeçmiş de isteniyor. Bu nedenle adayların her iki dilde hazırladıkları bir CV’lerinin olmaları önemli. Pozisyonlar ve kıdemler arttıkça İK uzmanları CV’de detaylara daha çok dikkat ediyor. Öğrencilerde, kişinin kendini nasıl geliştirdiğine ve eğitim hayatı boyunca neler yaptığına odaklanılıyor. Uzman seviyesindeki çalışanlarda ise kişinin görevlerini iyi yazıp yazmadığına odaklanılıyor. Yönetici CV’lerinde her detay önemli. CV’inizi tozlu raflara bıraktıysanız iş aramaya başlamadan önce özgeçmişinizi güncellemenizi mutlaka tavsiye ederim. CV’niz derli dertli toplu ve düzenli olmalı. Ne kendinizi abartın özgeçmiş yazarken ne de mütevazi olun. Hep söylüyorum, “Ağ kurmayın bağ kurun!” Markanızı bu kurduğunuz bağda da iyi pazarlayın.</p>
                    </section>
                </div>

                <!-- Sidebar -->
                <div id="sidebar" class="4u">
                    <section>
                        <header>
                            <h2>Cv</h2>
                        </header>
                        <ul class="style">
                            <li>
                                <img src="~/UserPanel/images/cvlist.png" alt="" width="80px" height="80px" />
                                <p class="text">Tüm Cv'leri gör</p>
                                <p><a href="~/Company/CvList" class="button">Cv'leri Listele</a></p>


                            </li>
                           
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>




</body>
</html>
