
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link href="~/UserPanel/css/styles.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="header-left-panel">
            <div class="logo-wrap">

            </div>
        </div>

    </div>
    <!--- header div end -->
    <div class="panel-wrap">
        <div class="panel-wrapper">
            <div class="panel marRight30">
                <div class="img"><img src="~/UserPanel/images/1.jpg" width="250" height="400" /></div>
                <div class="title">
                    <h1>Orkide Cv</h1>
                </div>
                <div class="border"></div>
                <div class="content">
                    <p>Orkide görünümde bir cv hazırlayın.</p>
                    <div class="button-link"><a href="#">CvHazırla</a></div>
                </div>
            </div>
            <div class="panel marRight30">
                <div class="img"><img src="~/UserPanel/images/2.jpg" width="250" height="400" /></div>
                <div class="title">
                    <h1 class="border-bottom">Fesleğen Cv</h1>
                </div>
                <div class="border"></div>
                <div class="content">
                    <p>
                        Fesleğen kokusunda bir cv hazırlayın.<br />
                    </p>
                    <div class="button-link"><a href="#">CvHazırla</a></div>
                </div>
            </div>
            <div class="panel">
                <div class="img"><img src="~/UserPanel/images/3.jpg" width="250" height="400" /></div>
                <div class="title">
                    <h1 class="border-bottom">Lilyum Cv</h1>
                </div>
                <div class="border"></div>
                <div class="content">
                    <p>Lilyum renginde bir Cv hazırlayın.</p>
                    <div class="button-link"><a href="#">CvHazırla</a></div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>
