
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="fr">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>FİND WORK-ER</title>
    <link rel="icon" type="/image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="/image/png" href="favicon-16x16.png" sizes="16x16">
    <!--Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/glyphicons-social.css" type="text/css">
    <link href="/css/register.css" rel="stylesheet">
</head>
<body>
    <body>
        <div class="home_background">
            <div style="overflow: hidden" class="top_background">
                <div class="top clearfix">
                    <div class="logo left">
                        <div class="homepage_logo">
                            <a href="index.html">FindWorker</a>
                        </div>
                    </div>
                    <div class="top_right right clearfix">
                        <a href="/Login/Register" class="top_signup_button left">Kayıt Ol</a>
                        <div class="dropdown pull-left">
                            <a href="login.html" id="dLabel" data-target="#" data-backdrop="false" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="top_login_button left">Giriş Yap</a>
                            <ul role="form" aria-labelledby="dLabel" class="dropdown-menu pull-right">
                                <form role="form" method="POST" action="/Login/Login" id="login-form" class="form-signin">
                                    <div class="homepage_input">
                                        <input type="text" name="Email" placeholder="Email" value="" autofocus class="form-control">
                                    </div>
                                    <div class="homepage_input">
                                        <input type="password" name="Password" placeholder="Şifre" class="form-control">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block submit">Giriş Yap</button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="homepage_intro">
                        <div class="top_message">
                            <h1>Örnek Cv'ler ile kendi Cv'ni hemen yarat.</h1>
                            <p>Alors prépare tout de suite ton CV, ainsi avec ton profil qui a une prolongation spéciale de MYCV à ton nom et que tu pourras partager sur tous les réseaux sociaux, rencontre des milliers d’offres d'emploi et d’employeurs. </p>
                        </div>

                    </div>
                    <div class="browser">
                        <div class="browser_top_bar">
                            <div class="url_back">
                                <div class="pull-left ssl-lock">
                                </div>
                                <div class="pull-left ssl-url-text">
                                    <span class="trust_color">https://</span>
                                    <span class="trust_url">findworker.com/</span>
                                    <span class="findworker_username"></span>
                                    <span class="cursor_i" style="display: inline; opacity: 0.833006;">| </span>
                                </div>
                            </div>
                        </div>
                        <div class="example_cv" style="display: block;"><img src="/images/meltem_cv.jpg"></div>
                    </div>
                </div>
            </div>


        </div>
    </body>
    <script src="/js0/i18n-client3e25.js?q=non|follow_btn,follow_active_btn,apply_then_no_html">
    </script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/d.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .footer {
            display: none
        }
    </style>
    <script src="/js/homepage.js"></script>
</body>

</html>
