@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Context.Session.GetString("RoleId") == "1")
{
    <h1>Hoşgeldin user @Context.Session.GetString("Email")</h1>
    
}

@if (Context.Session.GetString("RoleId") == "2")
{
    <h1>Hoşgeldin company @Context.Session.GetString("CompanyEmail")</h1>

}

